body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aqua;
    padding: 5px;
    margin: 5px;
}

.container{
    display: flex;
}

.section{
    background-color: lightgoldenrodyellow;
    margin: 20px;
    padding: 50px;
    width: 100%;
    border-radius: 10px;
    border-style: ridge;
    border-width: 5px;
}

